$backgroundImage: url("../../images/background2.jpg");

@media (min-width: 768px) {
  .navbar > {
    .container .navbar-brand, .container-fluid .navbar-brand {
      margin-left: 15px;
    }
  }
}

.panel-default > .panel-heading {
  background-color: darkgrey;
}

.pieChartClass, .newsWidgetClass, .calendarWidgetClass, .graphWidgetClass {
  display: block;
}

.row {
  margin-top: 25px;
  align-items: center;
}

body {
  background: $backgroundImage no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.welcomePopUp {
  width: 100%;
  background: -webkit-linear-gradient(bottom, #000 60%, rgba(0, 0, 0, 0) 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
  background: -moz-linear-gradient(bottom, #000 60%, rgba(0, 0, 0, 0) 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
  background: -o-linear-gradient(bottom, #000 60%, rgba(0, 0, 0, 0) 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
  background: linear-gradient(to top, #000 60%, rgba(0, 0, 0, 0) 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
}

.textColorWhite {
  color: white;
}

.marginBottom {
  margin-bottom: 20px;
  width: auto;
}

.panel-default {
  opacity: 0.9;
  margin-top: 30px;
}

.form-group.last {
  margin-bottom: 0px;
}

.panelImg {
  height: 65%;
  width: 65%;
}

.panel-heading, .panel-body, .panel-footer {
  padding: 1px;
}

/*.modal {
    position: relative;
    display: none;
  }
  .modal-dialog {
    width: inherit;
    margin: 30px auto;
    border-radius: 25px;
}*/

.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 20px;
  input {
    display: none;
  }
}

/* Hide default HTML checkbox */

/* The slider */

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
  &:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 4px;
    bottom: 0px;
    background-color: white;
    transition: .4s;
  }
}

input {
  &:checked + .slider {
    background-color: #2196F3;
  }
  &:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  &:checked + .slider:before {
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
}

/* Rounded sliders */

.slider.round {
  border-radius: 20px;
  &:before {
    border-radius: 50%;
  }
}

input {
  &[type=text], &[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
}

/* Set a style for all buttons */

button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  &:hover {
    opacity: 0.8;
  }
}

/* Center the image and position the close button */

.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}

img.avatar {
  width: 40%;
}

.container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

/* The Modal (background) */

.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
  padding-top: 60px;
}

/* Modal Content/Box */

.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto;
  /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 40%;
  /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */

.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
  &:hover, &:focus {
    color: red;
    cursor: pointer;
  }
}

/* Add Zoom Animation */

.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s;
}

@-webkit-keyframes animatezoom {
  from {
    -webkit-transform: scale(0);
  }

  to {
    -webkit-transform: scale(1);
  }
}


@keyframes animatezoom {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(1);
  }
}


/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none;
  }
  .cancelbtn {
    width: 100%;
  }
}

.loginBox {
  margin: 20px;
  text-align: left;
}